<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tarjeta de presentación</title>
	<link rel="stylesheet" type="text/css" href="cardStyles.css">
</head>
<body>
	<section class="card">
		<img class="card-image" alt="guitar" src="yamaha.png">
		<h1 class="card-title">Yamaha rgx custom</h1>
		<p class="card-text">The Yamaha RGX Custom is a superstrat type guitar from the 80's and is made in Japan. It features a maple/mahogany 25.5 inch scale heel-less neck because of the neck-through construction. </p>
		<button class="card-button"><a href="#">Comprar ahora</a></button>
	</section>

</body>
</html>

<!--Imagen
titulo
precio
texto descriptivo
boton para comprar-->