<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ejemplos del uso de Flexbox</title>
	<link rel="stylesheet" type="text/css" href="flex.css">
</head>
<body>
	<ul class="container">
		<li class="item">1</li>
		<li class="item">2</li>
		<li class="item">3</li>
		<li class="item">4</li>
		<li class="item">5</li>
	</ul>

	<section class="container">
		<section class="card">
			<h3>News item title</h3>
            <div class="label">1 Nov 2017</div>
            <p>This is the content of my news item. Very newsworthy.</p>
		</section>
		<section class="card">
			<h3>News item title</h3>
            <div class="label">2 Nov 2017</div>
            <p>This is the content of my news item. Very newsworthy.</p>
		</section>
	</section>
</body>
</html>