<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Estructura base del contenido</title>
	<link rel="stylesheet" href="structStyles.css">
</head>
<body>

	<header></header>
	<main>
		<article class="col">
			<header>
				<h1>Huevos con frijoles</h1>
				<nav>
					<ul>
						<li><a href="#ingredientes">Ingredientes</a></li>
						<li><a href="#utensilios">Utensilios</a></li>
						<li><a href="#preparacion">Preparación</a></li>
					</ul>
				</nav>
			</header>

			<section id="ingredientes">
				<h1 class="section-titles">Ingredientes</h1>
				<ol>
					<li>3 huevos</li>
					<li>Frijoles charros o bayos</li>
					<li>Aceite</li>
					<li>Sal</li>
					<li>Cebolla</li>
					<li>Chile</li>
				</ol>
			</section>

			<section id="utensilios">
				<h1 class="section-titles">Utensilios</h1>
				<ol>
					<li>Sartén</li>
					<li>Espátula</li>
					<li>Tazón</li>
					<li>Plato</li>
					<li>Tenedor</li>
				</ol>
			</section>

			<section id="preparacion">
				<h1 class="section-titles">Preparación</h1>
				<ol reversed start="100">
					<li>Utilizar el tazón y el tenedor para revolver los huevos.</li>
					<li>Agregar sal al gusto a los huevos.</li>
					<li>Poner a calentar el sartén con aceite al gusto de la obesidad en la estufa.</li>
					<li>Sofreir la cebolla y el chile al gusto.</li>
					<li>Vaciar los huevos en el sartén.</li>
					<li>Vaciar los frijoles en el sartén.</li>
					<li>Revolver hasta cocerse al gusto.</li>
					<li>Servir en un plato extendido.</li>
					<li>Agregar tocino y queso al gusto.</li>
				</ol>
			</section>
		</article>
		<aside class="col">
			<h1>Recetas relacionadas</h1>
			<ul>
				<li><a href="#">Huevo con jamón</a></li>
				<li><a href="#">Huevo a la mexicana</a></li>
			</ul>
		</aside>
	</main>
	<footer>
		<summary>
			<details>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</details>
		</summary>
		Por David Lira Ricárdez.
	</footer>
</body>
</html>