<!DOCTYPE html>
<html lang="es" dir="ltr"> <!-- dir indica él sentido en el que se debe de leer -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Para adaptarse a la resolución de los dispositivos-->
	<title>David Lira Ricárdez</title>
</head>

<body>
	<h1>David Lira Ricárdez</h1>
	<section>
		<p>Mis pasatiempos preferidos son viajar, escuchar/escribir música y programar.</p>

		<p>De este bootcamp espero consolidar los conocimientos que tengo, aclarar dudas y compartir conocimiento con los demás participantes del mismo.</p>
	</section>
</body>
</html>