<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="cardStyles.css">
	<link rel="stylesheet" type="text/css" href="layoutStyle.css">
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
	<script src="https://kit.fontawesome.com/206139e081.js" crossorigin="anonymous"></script>
	<title>Share to Help</title>
</head>
<body>
	<section class="container">
		<nav class="navbar" role="navigation">
			<h1 class="navbar-title">shareToHelp</h1>
			<section class="navbar-section-left">
				<ul class="nav-menu">
					
					<li><span>Menú</span></li>
					
					<li><span>Inicio/Todas las ofertas</span></li>

					<li><span>Todos los grupos</span> 
						<ul>
							<li><span>Tecnología.</span></li>
							<li><span>Ropa y accesorios.</span></li>
							<li><span>Familia, bebés y niños.</span></li>
						</ul>
					</li>
				</ul>
			</section>
			<section class="navbar-section-right">
				<form action="#">
					<input type="text" name="search" class="input" id="search">
				</form>
				<button class="btn-primary">Registrate/Inicia sesión</button>
				<button class="btn-secondary">Compartir</button>
			</section>

		</nav>


		<section id="products">
			
		</section>

		<footer class="footer">
			<section class="two-columns">
				<section class="footer-section-left">
					<h2 id="footer-title">Share To Help</h2>
					<h3 id="footer-subtitle">La comunidad de compras inteligentes</h3>
					<h4 id="footer-description">Busca y comparte ofertas, además vota y decide qué promociones son buenas o malas e intercambia información con la comunidad</h4>
				</section>
				<section class="footer-statistics footer-section-right">
					<h2 class="footer-section-title">Estadísticas</h2>
						<span class="number"><i class="fa fa-user-alt"></i> 450,231</span><span class="text-number">Miembros</span>
						<span class="number"><i class="fas fa-tag"></i> 281,560</span><span class="text-number">Ofertas</span>
						<br>
						<br>
						<span class="number"><i class="fas fa-comments"></i>3,562,794</span><span class="text-number">Comentarios</span>	
				</section>
			</section>

			<section class="one-column">
				<h2 class="footer-section-title">Eventos especiales</h2>
				<span class="footer-section-text">Julio regalado 2019</span>
				<span class="footer-section-text">Hot sale México 2019</span>
				<span class="footer-section-text">Black Friday Amazon 2019</span>
				<span class="footer-section-text">Amazon prime day 2019</span>
			</section>

			<section class="two-columns">
				<section class="footer-section-left">
					<h2 class="footer-section-title">Varios</h2>
					<span class="footer-section-text">Retroalimentación</span>
					<span class="footer-section-text">Contacto</span>
					<span class="footer-section-text">Nosotros</span>
					<span class="footer-section-text">Política de privadcidad</span>
					<span class="footer-section-text">Código de conducta</span>
					<span class="footer-section-text">Guías & tips</span>
					<span class="footer-section-text">FAQ</span>
				</section>
				<section class="footer-section-right">
					<h2 class="footer-section-title">Descarga la app</h2>
					<img src="appstore.svg" alt="logo AppStore" class="image-app">
					<img src="googleplay.png" alt="logo PlayStore" class="image-app">
				</section>
			</section>

			<section class="one-column">
				<h2 class="footer-section-title">Síguenos</h2>
				<img src="fbicon.png" alt="logo-facebook" class="image-social">
				<img src="twittericon.svg" alt="logo-twitter" class="image-social">
				<img src="youtubeicon.svg" alt="logo-youtube" class="image-social">
				<img src="instaicon.jpg" alt="logo-instagram" class="image-social">
				<img src="bloggericon.svg" alt="logo-blog" class="image-social">
			</section>
		</footer>
	</section>
<script type="text/javascript" src="createCard.js"></script>
</body>
</html>